fastapi
uvicorn
python-jose
passlib[bcrypt]
bcrypt<5.0.0
sqlalchemy==2.0.35
psycopg2-binary
python-dotenv
email-validator
PyJWT
httpx
h2
python-multipart
qrcode[pil]==7.4.2
pillow==11.1.0
pyotp==2.9.0
sentry-sdk[fastapi]
